In [1]:
print('[',end='')
for i in range(240):
    print('-' if i%60 else '1', end=',')
print(']')

[1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,]

In [2]:
print('[',end='')
for m in range(30,60):
    print('"09:%02d"'%m,end=',')
for m in range(0,60):
    print('"10:%02d"'%m,end=',')
for m in range(0,30):
    print('"11:%02d"'%m,end=',')
print('"11:30/13:00"',end=',')
for m in range(1,60):
    print('"13:%02d"'%m,end=',')
for m in range(0,60):
    print('"14:%02d"'%m,end=',')
print('"15:00"]')

["09:30","09:31","09:32","09:33","09:34","09:35","09:36","09:37","09:38","09:39","09:40","09:41","09:42","09:43","09:44","09:45","09:46","09:47","09:48","09:49","09:50","09:51","09:52","09:53","09:54","09:55","09:56","09:57","09:58","09:59","10:00","10:01","10:02","10:03","10:04","10:05","10:06","10:07","10:08","10:09","10:10","10:11","10:12","10:13","10:14","10:15","10:16","10:17","10:18","10:19","10:20","10:21","10:22","10:23","10:24","10:25","10:26","10:27","10:28","10:29","10:30","10:31","10:32","10:33","10:34","10:35","10:36","10:37","10:38","10:39","10:40","10:41","10:42","10:43","10:44","10:45","10:46","10:47","10:48","10:49","10:50","10:51","10:52","10:53","10:54","10:55","10:56","10:57","10:58","10:59","11:00","11:01","11:02","11:03","11:04","11:05","11:06","11:07","11:08","11:09","11:10","11:11","11:12","11:13","11:14","11:15","11:16","11:17","11:18","11:19","11:20","11:21","11:22","11:23","11:24","11:25","11:26","11:27","11:28","11:29","11:30/13:00","13:01","13:02","13:03","13:04","13:05","13:06","13:07","13:08","13:09","13:10","13:11","13:12","13:13","13:14","13:15","13:16","13:17","13:18","13:19","13:20","13:21","13:22","13:23","13:24","13:25","13:26","13:27","13:28","13:29","13:30","13:31","13:32","13:33","13:34","13:35","13:36","13:37","13:38","13:39","13:40","13:41","13:42","13:43","13:44","13:45","13:46","13:47","13:48","13:49","13:50","13:51","13:52","13:53","13:54","13:55","13:56","13:57","13:58","13:59","14:00","14:01","14:02","14:03","14:04","14:05","14:06","14:07","14:08","14:09","14:10","14:11","14:12","14:13","14:14","14:15","14:16","14:17","14:18","14:19","14:20","14:21","14:22","14:23","14:24","14:25","14:26","14:27","14:28","14:29","14:30","14:31","14:32","14:33","14:34","14:35","14:36","14:37","14:38","14:39","14:40","14:41","14:42","14:43","14:44","14:45","14:46","14:47","14:48","14:49","14:50","14:51","14:52","14:53","14:54","14:55","14:56","14:57","14:58","14:59","15:00"]

In [3]:
l=["09:30","09:31","09:32","09:33","09:34","09:35","09:36","09:37","09:38","09:39","09:40","09:41","09:42","09:43","09:44","09:45","09:46","09:47","09:48","09:49","09:50","09:51","09:52","09:53","09:54","09:55","09:56","09:57","09:58","09:59","10:00","10:01","10:02","10:03","10:04","10:05","10:06","10:07","10:08","10:09","10:10","10:11","10:12","10:13","10:14","10:15","10:16","10:17","10:18","10:19","10:20","10:21","10:22","10:23","10:24","10:25","10:26","10:27","10:28","10:29","10:30","10:31","10:32","10:33","10:34","10:35","10:36","10:37","10:38","10:39","10:40","10:41","10:42","10:43","10:44","10:45","10:46","10:47","10:48","10:49","10:50","10:51","10:52","10:53","10:54","10:55","10:56","10:57","10:58","10:59","11:00","11:01","11:02","11:03","11:04","11:05","11:06","11:07","11:08","11:09","11:10","11:11","11:12","11:13","11:14","11:15","11:16","11:17","11:18","11:19","11:20","11:21","11:22","11:23","11:24","11:25","11:26","11:27","11:28","11:29","11:30/13:00","13:01","13:02","13:03","13:04","13:05","13:06","13:07","13:08","13:09","13:10","13:11","13:12","13:13","13:14","13:15","13:16","13:17","13:18","13:19","13:20","13:21","13:22","13:23","13:24","13:25","13:26","13:27","13:28","13:29","13:30","13:31","13:32","13:33","13:34","13:35","13:36","13:37","13:38","13:39","13:40","13:41","13:42","13:43","13:44","13:45","13:46","13:47","13:48","13:49","13:50","13:51","13:52","13:53","13:54","13:55","13:56","13:57","13:58","13:59","14:00","14:01","14:02","14:03","14:04","14:05","14:06","14:07","14:08","14:09","14:10","14:11","14:12","14:13","14:14","14:15","14:16","14:17","14:18","14:19","14:20","14:21","14:22","14:23","14:24","14:25","14:26","14:27","14:28","14:29","14:30","14:31","14:32","14:33","14:34","14:35","14:36","14:37","14:38","14:39","14:40","14:41","14:42","14:43","14:44","14:45","14:46","14:47","14:48","14:49","14:50","14:51","14:52","14:53","14:54","14:55","14:56","14:57","14:58","14:59","15:00"]
len(l)

241

In [4]:
from lh import SingleStock_daily, tdx_disconnect, get_tdx_api, Engine_2ban
from lh.time.trade_time import Trade_time
from lh.utils.dongcai_df_fetcher import Dongcai_df_fetcher
from lh.utils.tdx_df_fetcher import Tdx_df_fetcher
tt = Trade_time()
ssd = SingleStock_daily()
df = Dongcai_df_fetcher()
tf = Tdx_df_fetcher()

tdx_api connected from get_tdx_api()

In [5]:
price=tf.get_fenshi_df('603528.SH','20230227').price.tolist()
print(price)

[Tdx_df_fetcher@get_fenshi_df] 603528.SH 20230227:  using saved buffer.
[9.96]

In [6]:
vol=tf.get_fenshi_df('603528.SH','20230227').vol.tolist()
print(vol)

[Tdx_df_fetcher@get_fenshi_df] 603528.SH 20230227:  using saved buffer.
[8335]

In [7]:
tot_price = [price[0]*vol[0]]
for i in range(1,len(price)):
    tot_price.append(tot_price[i-1]+price[i]*vol[i])
print(tot_price)

[83016.6]

In [8]:
tot_vol = [vol[0]]
for i in range(1,len(vol)):
    tot_vol.append(tot_vol[i-1]+vol[i])
print(tot_vol)

[8335]

In [9]:
avg_price = [tp/tv for tp,tv in zip(tot_price,tot_vol)]
print(avg_price)

[9.96]

In [10]:
from pytdx.hq import TdxHq_API
api = TdxHq_API()

In [11]:
with api.connect('119.147.212.81', 7709):
    print(api.to_df(api.get_security_list(0, 0)))

       code  volunit  decimal_point   name     pre_close
0    395001      100              2   主板Ａ股  1.514000e+03
1    395002      100              2   主板Ｂ股  1.920000e+02
2    395004      100              2    创业板  1.255000e+03
3    395005      100              2   主板DR  5.877472e-39
4    395006      100              2  创业板DR  5.877472e-39
..      ...      ...            ...    ...           ...
995  002114      100              2   罗平锌电  6.550000e+00
996  002115      100              2   三维通信  6.020000e+00
997  002116      100              2   中国海诚  1.096020e+03
998  002117      100              2   东港股份  1.520175e+02
999  002118      100              2   紫鑫药业  1.650000e+00

[1000 rows x 5 columns]

In [12]:
import tushare as ts

In [13]:
pro = ts.pro_api()

#查询当前所有正常上市交易的股票列表

pro.stock_basic(exchange='', list_status='L', fields='ts_code,symbol,name,area,industry,list_date')

        ts_code  symbol     name  area industry list_date
0     000001.SZ  000001     平安银行    深圳       银行  19910403
1     000002.SZ  000002      万科A    深圳     全国地产  19910129
2     000004.SZ  000004     ST国华    深圳     软件服务  19910114
3     000005.SZ  000005     ST星源    深圳     环境保护  19901210
4     000006.SZ  000006     深振业A    深圳     区域地产  19920427
...         ...     ...      ...   ...      ...       ...
5159  873305.BJ  873305     九菱科技  None     None  20221221
5160  873339.BJ  873339     恒太照明  None     None  20221117
5161  873527.BJ  873527      夜光明  None     None  20221027
5162  873593.BJ  873593     鼎智科技  None     None  20230413
5163  689009.SH  689009  九号公司-WD    北京      摩托车  20201029

[5164 rows x 6 columns]

In [14]:
pro.query('stock_basic', exchange='', list_status='L', fields='ts_code,symbol,name,area,industry,list_date')

        ts_code  symbol     name  area industry list_date
0     000001.SZ  000001     平安银行    深圳       银行  19910403
1     000002.SZ  000002      万科A    深圳     全国地产  19910129
2     000004.SZ  000004     ST国华    深圳     软件服务  19910114
3     000005.SZ  000005     ST星源    深圳     环境保护  19901210
4     000006.SZ  000006     深振业A    深圳     区域地产  19920427
...         ...     ...      ...   ...      ...       ...
5159  873305.BJ  873305     九菱科技  None     None  20221221
5160  873339.BJ  873339     恒太照明  None     None  20221117
5161  873527.BJ  873527      夜光明  None     None  20221027
5162  873593.BJ  873593     鼎智科技  None     None  20230413
5163  689009.SH  689009  九号公司-WD    北京      摩托车  20201029

[5164 rows x 6 columns]

In [15]:
pro.daily(trade_date='20230327')

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,830974.BJ,20230327,6.96,7.08,6.96,6.99,7.06,-0.07,-0.9915,2779.87,1946.373
1,836942.BJ,20230327,10.62,10.68,10.60,10.61,10.68,-0.07,-0.6554,772.00,820.628
2,430685.BJ,20230327,11.70,11.89,11.50,11.60,11.70,-0.10,-0.8547,3125.02,3636.015
3,873169.BJ,20230327,6.23,6.38,6.23,6.24,6.25,-0.01,-0.1600,2040.70,1282.579
4,873223.BJ,20230327,3.40,3.41,3.33,3.37,3.40,-0.03,-0.8824,2418.18,810.700
...,...,...,...,...,...,...,...,...,...,...,...
5117,688360.SH,20230327,29.10,29.34,28.80,28.89,29.05,-0.16,-0.5508,9643.95,28026.533
5118,688362.SH,20230327,30.93,30.97,29.40,30.00,30.80,-0.80,-2.5974,62564.03,188684.898
5119,688363.SH,20230327,110.03,111.21,108.08,109.58,110.03,-0.45,-0.4090,31381.61,343755.812
5120,688365.SH,20230327,20.91,24.89,20.20,24.80,20.74,4.06,19.5757,305967.29,688103.828
5121,688366.SH,20230327,93.34,96.13,91.53,93.72,92.50,1.22,1.3189,5515.93,51995.274

In [19]:
listed=pro.query('stock_basic', exchange='', list_status='L', fields='ts_code,trade_date,name,area,industry,list_date')
traded=pro.daily(trade_date='20230327')
set(listed.ts_code)-set(traded.ts_code)

{'000587.SZ', '002184.SZ', '300330.SZ', '301314.SZ'}

In [21]:
'600139.SH' in listed.ts_code

False

In [20]:
traded[traded.ts_code=='600139.SH']

Empty DataFrame
Columns: [ts_code, trade_date, open, high, low, close, pre_close, change, pct_chg, vol, amount]
Index: []